[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-sslserver = "*"
django-registration-redux = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-rest-knox = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11.1"
