#slideshow
{
position:relative;
height:400px;
width:300;
}


#slideshow DIV
{

position:absolute;

top:0;
left:0;
z-index:8;
opacity:0.0;
//height: 400px;
background-color: #FFF;
width:300px;
}


#slideshow DIV.active
{
z-index:10;
opacity:1.0;

}


#slideshow DIV.last-active
{

z-index:9;

}


#slideshow DIV img
{

display: block;

border: 0;
margin-bottom: 0px;

}
